<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Cars</title>
    <style>
      /* Navbar container */
      .navbar {
        overflow: hidden;
        background-color: #333; /* Dark background color */
      }

      /* Links inside the navbar */
      .navbar a {
        float: left;
        display: block;
        color: #f2f2f2; /* White text color */
        text-align: center;
        padding: 14px 20px; /* Padding for each link */
        text-decoration: none;
      }

      /* Change background color of links on hover */
      .navbar a:hover {
        background-color: #ddd; /* Light grey background color */
        color: black; /* Black text color */
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/add">Add a New car</a>
      <a href="/search">Search a car</a>

      <% if (user) { %>
      <a href="/logout">Logout</a>
      <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <% } %>
    </div>
    <h1>Search Cars</h1>
    <form action="/search" method="post">
      <label for="make">Make:</label>
      <input type="text" id="make" name="make" /><br />

      <label for="model">Model:</label>
      <input type="text" id="model" name="model" /><br />

      <label for="minYear">Minimum Year:</label>
      <input type="number" id="minYear" name="minYear" /><br />

      <label for="maxYear">Maximum Year:</label>
      <input type="number" id="maxYear" name="maxYear" /><br />

      <label for="minPrice">Minimum Price:</label>
      <input type="number" id="minPrice" name="minPrice" /><br />

      <label for="maxPrice">Maximum Price:</label>
      <input type="number" id="maxPrice" name="maxPrice" /><br />

      <button type="submit">Search</button>
    </form>

    <ul>
      <% cars.forEach(car => { %>
      <li>
        <h2>
          <a href="/cardetails/<%= car._id %>"><%= car.manufacturer %></a>
        </h2>
        <p>Price: <%= car.price %></p>
        <p>Model: <%= car.model %></p>
        <p>Year: <%= car.year %></p>
        <p>Color: <%= car.color %></p>
        <p>Status: <%= car.status %></p>
        <h3>Images:</h3>
        <div>
          <% car.images.forEach(image => { %>
          <div>
            <img
              src="<%= image %>"
              alt="<%= car.manufacturer %>"
              height="300"
              width="300"
            />
          </div>
          <% }); %>
        </div>
      </li>
      <% if (user && user.role === 'admin') { %>
      <form action="/deleteCar/<%= car._id %>" method="POST">
        <button type="submit" class="deletebtn">Delete</button>
      </form>
      <% } %> <% }); %>
    </ul>
  </body>
</html>
